@import "tailwindcss";

:root {
  --background: #ffebd2;
  --foreground: #273248;
  --brand-50: #ffebd2;
  --brand-200: #ffa364;
  --brand-400: #fc7643;
  --brand-600: #af4f41;
  --brand-900: #273248;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-50: var(--brand-50);
  --color-brand-200: var(--brand-200);
  --color-brand-400: var(--brand-400);
  --color-brand-600: var(--brand-600);
  --color-brand-900: var(--brand-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
